
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

*{
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
}

h1{
  text-align: center;
  margin-top: 10px;
}
input{
  padding: 6px 12px 6px 12px;
  margin: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #000000;
  font-size: 11px;
}

label{
  font-size: 12px;
}
textarea{
  border: 1px solid #ccc;
}

input.submit{
  background-color: #1c1c1c;
  border: none;
  border-radius: 0;
  color: #fff;
}
input.submit:hover{
  background-color: #665544;
}
input.submit:active{
  background-color: chocolate;
}
input.text{
  color: #ccccc;
}
input.text:focus{
  color:#665544;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  }
