#wrapper{
  background-color: #f2f2f2;
  margin: 0;

}

#header{
  height: 80px;
  border-bottom: 1px solid #1c1c1c;
}



#header ul li{
  float: left;
  list-style: none;
  text-decoration: none;
  margin: 30px 30px;
}

#nav{

}

#content{
  width: 200px;
  margin: 0 auto;
  padding: 30px;
}


#footer{
  height: 300px;
  background-color: #1c1c1c;
  color: #fff;
}
